<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <meta charset="utf-8" />

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

{% assets filters="cssmin", output="css/theme.min.css", "css/master.css", "css/pygment.css" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
{% endassets %}

  <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />

  {% if FEED_RSS %}
    <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}

  <link href="https://kylef.tent.is/" rel="https://tent.io/rels/profile" />
</head>

<body id="{% block body_id %}{% endblock %}">
  <header>
      <h1>Kyle Fuller</h1>
  </header>

  <section>
    {% block content %}
    {% endblock %}
  </section>

{% include 'github.html' %}
{% include 'analytics.html' %}

</body>
</html>
